div.colour-picker-container {
    margin-top: 10px;
    border: 5px solid black;
    display: inline-flex;
    align-items: center;
    padding: 10px;
}

div.colour-picker-container>label {
    color: #203995;
    font-size: 24px;
}

input#colour-picker {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
}