div.colour-picker-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.colour-picker-container > div.left {
    display: flex;
    align-items: center;
}

div.colour-picker-container > div.left > span,
div.colour-picker-container > div.left > p,
p.eraser-text {
    color: #203995;
}

div.colour-picker-container > div.left > span {
    font-size: 24px;
}

div.colour-picker-container > div.left > input {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border: none;
    background: none;
}

p.selected-colour,
p.eraser-text {
    display: inline-block;
}
