div.canvas {
    display: flex;
    border: 5px solid black;
    height: 500px;
    margin: 0px 32px 0px 32px;
}

div.grid {
    background-color: white;
    width: 100%
}

div.grid:hover {
    cursor: crosshair;
}